/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




@media only screen and (max-width: 995px) {
	
	.slider_left_item{
		margin-bottom: 20px;
	} 

}

@media only screen and (max-width: 960px) {
	
	.advantages2 table{
		display: none;
	}

	.download_file{
		display: block;
	}

}

@media only screen and (max-width: 820px) {
	[class*='design_text']{
		width: 170px;
	}
		
}

@media only screen and (max-width: 768px) {
	
	.header_box_table1,
	.header_box_table_item{
		display: block;
	}

	.header_box_table_item,
	.advantages_item,
	.complement_wrapper_item{
		width: 100% !important;		
	}

	.iphone_color_item{
		width: 50%;
		margin-bottom: 10px;
	}

	.iphone_color_wrapper{
		margin-bottom: 20px;
	}

	.header_box_table_item:not(:last-child){
		margin-bottom: 10px;
	}

	.design_img_box{
		margin-bottom: 10px;
	}
	[class*='design_text']{
		width: 49%;
		padding: 0 10px; 
		position: static;
		display: inline-block;
		margin-top: 10px;
	}	

	[class*='design_text']::before{
		display: none;
	}

	.complement_wrapper_item{
		width: 100%;
		text-align: center !important;
	}

	.complement_wrapper_item:not(:last-child){
		margin-bottom: 15px;
	}

	[class*="complement_text"]{
		position: static;
		width: 100%;
		text-align: center !important;
		margin-top: 10px;
	}

	.video iframe{
		height: 400px !important;
	} 

	.reviews_box_item{
		width: 50%;
	}

	.sect_padd,
	.gray_section{
		padding: 30px 0;
	}

	.photo{
		height: 460px;
	}

	.radio_wrap .btn_cont_wrapp span{
		font-size: 18px;
	}

	.slider_btn_wrap{
		margin: 0 -5px;
	}

	.radio_wrap {
		margin: 0 5px;
	}

	.radio_wrap label{
		width: 137px;
		padding: 0 1px 0 3px; 
	}

	.adventages_wrapper {
		margin: 0;
	}

	.questions iframe{
		height: 400 !important;
	}

	.btn_popup{
		margin: 15px 0;
	}

	.popup_img{
		display: none;
	}
	.popup_form{
		width: 100%;
		float: none;
	}
	.input_row input,
	.popup_form .btn{
		min-width: 100%;
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.popup_img,
	.popup_form{
		width: 100%;
		float: none;
	}
	.popup_img{
		text-align: center;
	}
	.popup_img img{
		max-width: 240px;
	}
}

@media only screen and (max-width: 479px) {
	.reviews_box_item{
		width: 100%;
	}

	.price{
		width: 100%;
	}

	.video iframe{
		height: 300px !important;
	} 

	.logo,
	.number{
		width: 100%;
		text-align: center;
	}

	.logo{
		margin-bottom: 10px;
	}

	.logo a{
		display: inline-block;
	}

	header{
		padding: 10px 0;
		height: 85px;
	}

	.design_img_box img{
		max-width: 100%;
		height: auto;
	}

	.iphone_color_item,
	.iphone_color_name{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.iphone_color_name{
		margin-top: 10px;
	}
		
}


@media only screen and (max-width: 320px) {
	.photo{
		height: 400px;
	}

	.questions iframe{
		height: 350 !important;
	}

	.btn{
		min-width: 100%;
	}
}


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================