
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../css/plugins.css";
        @import "../css/animate.min.css";
        @import "../css/bootstrap.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&subset=cyrillic');


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%}

    body {
        font-family: "Roboto", Helvetica, sans-serif;
        font-size: 18px;
        line-height:inherit;
        color:#333;
        min-width:320px;
        /*background:url(../images/body_bg.jpg) 50% 0 repeat #fff;*/
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 10px;
                line-height: 1.2em;
                font-weight: 300;
                color: #333;
            }

            .title1{
                font-size: 32px;
            }

            .title2{
                font-size: 46px;
                font-weight: normal;
            }

            .title3{
                font-size: 27px;
                font-weight: normal;
            }

            .title4{
                font-size: 18px;
                font-weight: 300;
                color: #7a7a7a;
                line-height: 1.2em;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}
            .red{color: red;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            .roboto_thn,
            .roboto_lt,
            .roboto_reg,
            .roboto_med,
            .roboto_bd,
            .roboto_ultra_bd{
                font-family: 'Roboto', sans-serif;
            }
            .roboto_thn{font-weight: 100;}
            .roboto_lt{font-weight: 300;}
            .roboto_reg{font-weight: 400;}
            .roboto_med{font-weight: 500;}
            .roboto_bd{font-weight: 700;}
            .roboto_ultra_bd{font-weight: 900;}


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: "LatoRegular";
                src: url("../font/Lato/LatoRegular.eot");
                src: url("../font/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
                url("../font/Lato/LatoRegular.woff") format("woff"),
                url("../font/Lato/LatoRegular.ttf") format("truetype");
                font-style: normal;
                font-weight: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;
                
            }
            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/

            input[type="radio"]{
                display: none;
            }




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        width: 100%;
        height: 70px;
        background: #000;
        padding-top: 23px;
        padding-bottom: 5px;   
    }
        .logo{
          display: inline-block;
        }
            .logo a{
                display:block;
                width:121px;
                height:23px;
                text-decoration:none;
            }

        .number{
            float: right;
            font-size: 24px;
            color: #fff;
            font-weight: 300;
        }   

            .number span{
                position: relative;
                padding-left: 26px;
                display: inline-block;
            } 

            .number span::before{
                content: "";
                position: absolute;
                left: 0;
                top: 6px;
                background: url(../images/phone.png) 0 0 no-repeat;
                width: 17px;
                height: 17px;
            }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        /*padding: 50px 0px 0 0px; */
        min-height: 600px;
    }

    .header_box_table1{
        display: table;
        table-layout: fixed;
        width: 100%;
        vertical-align: middle;
        margin-bottom: 30px;
    }

    .header_box_table_item{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }

    .header_box_table1 .header_box_table_item:first-child{
        width: 60%;
    }

    .header_box_table1 .header_box_table_item:last-child{
        width: 40%; 
    }

    .header_box_table2 .header_box_table_item{
        width: 50%;
        padding: 0 15px; 
    }

    .sect_padd{
        padding: 60px 0;
    }

    .text{
        font-size: 32px;
        line-height: 1.2em;
        font-weight: 300;
        color: #7a7a7a;
    }

        .text span{
            font-size: 20px;
        }

    .btn,
    .btn_popup{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        min-width: 300px;
        /*height: 50px;*/
        padding: 15px 5px 14px;
        border-radius: 10px;
        background: none;
        color: #333;
        border: 1px solid #333;
    }    

        .btn:hover,
        .btn_popup:hover{
            /*color: rgb(13,106,178);*/
            color: #fff;
            /*border-color: rgb(13,106,178);*/
            background: #333;
        }

    .gray_section{
        padding: 60px 0;
        background: #333;
        color: #e2e2e2;
    }    

        .gray_section .title1{
            color: #fff;
        }

        .gray_section .title4{
            color: #e2e2e2;
        }

        .gray_section .btn,
        .gray_section .btn_popup{
            border-color: #fff;
            color: #fff;
        }

        .gray_section .btn:hover,
        .gray_section .btn_popup:hover{
            background: #fff;
            color: #333;
        }

        .adventages_wrapper{
            width: 100%;
            margin: 0 -15px;
        }

        .advantages_item{
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            float: left;
        }


        .advantages_item figure:not(:last-child){
            margin: 50px 0;
        }

        .advantages_img{
            margin-bottom: 10px;
        }

        .advantages_item figcaption{
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 300;
            color: #e2e2e2;
        }

        .advantages_item figcaption h3{
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 300;
            color: #fff;
            margin-bottom: 10px;
        }

    .design{
        padding: 60px 0;
    }

        .design_img_box{
            display: inline-block;
            position: relative;
            margin-top: 30px;
            margin-bottom: 70px;
        }

        .design_img_box img{
            width: 400px;
            height: 400px;
        }

        [class*='design_text'] h3{
            font-size: 26px;
        }

        [class*='design_text']{
            font-size: 16px;
            line-height: 1.2em;
            font-weight: 300;
            color: #7a7a7a;
            position: absolute;
            text-align: left;
            width: 190px;
        }

        [class*='design_text'] p:not(:last-child){
            margin-bottom: 20px;
        }

        .design_text_left{
            bottom: -40px;
            left: -185px; 
        }

            .design_text_left::before{
                content: "";
                background: url(../images/line_img.png) 0 0 no-repeat;
                width: 72px;
                height: 42px;   
                position: absolute;
                bottom: 100%;
                left: 55%;
            }

        .design_text_right{
            left: 105%;
            top: -10px;
        }    

            .design_text_right::before{
                content: "";
                background: url(../images/line_img.png) 0 0 no-repeat;
                width: 72px;
                height: 42px;   
                position: absolute;
                top: 15px;
                left: -80px;
            }

        .present{
            padding-bottom: 60px;
        }

            .iphone_color_item{
                width: 25%;
                float: left;
            }

            .iphone_color_img{
                position: relative;
                display: inline-block;
            }   

            .iphone_color_img .visible{
                visibility: visible;
                opacity: 1;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .iphone_color_img .hidden{
                visibility: hidden;
                opacity: 0;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .iphone_color_img:hover .visible{
                visibility: hidden;
                opacity: 0;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .iphone_color_img:hover .hidden{
                visibility: visible;
                opacity: 1;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .iphone_color_img .visible,
            .iphone_color_img .hidden{
                position: absolute;
                top: 0;
                left: 0;
            }

        .iphone_color_name{
            margin-top: 20px;
            margin-left: 5px;
            width: 200px;
            position: relative;
            color: #e2e2e2;
        }    

            /*.iphone_color_name::before{
                content: "";
                background: url(../images/line_bottom.png) 0 0 no-repeat;
                width: 34px;
                height: 51px;
                position: absolute;
                top: 110%;
                left: -15px;
            }*/

        .iphone_color_wrapper{
            margin: 50px 0;
        }    
        
        .complement_wrapper{
            font-size: 20px;
            font-weight: 300;
            color: #333;
            line-height: 1.2em;
        }

            .complement_wrapper_item{
                width: 33.333333%;
                float: left;
                position: relative;
            }

            .complement_wrapper_item .iphone{
                width: 230px;
                height: 470px;
            }

            .complement_wrapper_item:last-child{
                text-align: right;
            }

            .complement_wrapper_item:nth-child(3){
                text-align: center;
            }

            [class*="complement_text"]{
                position: absolute;
                width: 134px;
            }

            .complement_text_left{
                left: 170px;
                top: 60%;
            }

            .complement_text_right_top{
                top: 130px;
                left: 40px;
                text-align: left; 
            }

            .complement_text_right_bottom{
                bottom: -30px;
                left: 80px;
                text-align: left;
            }


    .description_points{
        font-size: 17px;
        line-height: 23px;
    }

        .description_points h2{
            font-size: 32px;
        }

        .description_points ul{
            margin: 15px 0 0 10px;
        }

        .description_points li{
            padding-left: 13px;
            position: relative;
            font-size: 15px;
            color: #5D5B5B;
            line-height: 21px;
            margin-bottom: 5px;
        }

        .description_points li::before{
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #5D5B5B;
            position: absolute;
            left: 0;
            top: 7px;
        }

    .slider_right_item h3{
        font-size: 26px;
        font-weight: 300;
        color: #fff;
        line-height: 1.2em;
        margin: 0 0 10px;
    }    

    .slider_btn_wrap{
        margin: 0 -7px;
    }

        .radio_wrap{
            display: inline-block;
            font-size: 0;
            margin: 0 7px;
        }

        .radio_wrap label{
            display: inline-block;
            width: 180px;
            height: 65px;
            border: 1px solid #fff;
            /*border-radius: 10px;*/
            color: #e2e2e2;
            cursor: pointer;
            background: none;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.2em;
            padding:  0 0 0 20px;
            vertical-align: middle;
            margin-bottom: 15px;
        }

        .btn_cont_wrapp{
            display: inline-block;
            vertical-align: middle;
        }

        .radio_wrap label:hover{
            border: 1px solid #a2a2a2;
        }

        input:checked + label {
            border: 1px solid #d4d4d4!important;
            box-shadow: inset 0px 0px 0px 1px #d4d4d4!important;
            background: #fff;
            color: #333;
        }

        input:checked + label .btn_cont_wrapp span{
            color: #333;
        }

        .radio_wrap .btn_cont_wrapp span{
            display: block;
            font-size: 22px;
            font-weight: 300;
            color: #fff;
            margin: 0px;
        }

        span.h100{
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
        }

        [data-color]{
            position: relative;
            padding-left: 37px;
        }

            [data-color]::after{
                position: absolute;
                left: 0;
                top: -7px;
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                box-shadow: inset 0px 2px 0px rgba(0,0,0,0.1);
            }

            [data-color="silver"]::after{
                content: "";
                background: #dddfde;
            }

            [data-color="gold"]::after{
                content: "";
                background: #ebd1ba;
            }

            [data-color="gray"]::after{
                content: "";
                background: #abafb2;
            }

            [data-color="rose_gold"]::after{
                content: "";
                background: #f9cdbe;
            }

        .core{
            margin-bottom: 30px;
        }    

        .core .radio_wrap label{
            width: 139px;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
        }  

        .photo {
            position: relative;
            height: 506px;
        }  

            .photo img{
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                opacity: 0;
                -webkit-transition: 0.75s;
                -o-transition: 0.75s;
                transition: 0.75s;
            }

            .photo img.active{
                opacity: 1;
            }

            .s_plus{
                top: 0;
                bottom: 0;
            }

            .s_plus{
                height: 100%;
                width: auto;
            }

        .price{
            display: inline-block;
            width: 300px;
            padding: 15px 10px;
            background: #fff;
            border-radius: 3px;
            border: 1px solid #e7e7e7;
            z-index: 1;
            color: #333;
        }    

            .price span{
                display: block;
                margin-bottom: 5px;
            }

    .reviews_box{
        margin: 0 -15px;
    }

        .reviews_box_item{
            width: 33.333333%;
            float: left;
            text-align: center;
            margin-top: 25px; 
            padding: 0 15px;
        }

            .reviews_box_photo{
                display: inline-block;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                overflow: hidden;
                margin-bottom: 10px;
            }

            .reviews_box_text{
                font-size: 14px;
                line-height: 1.2em;
                text-align: left; 
                color: #e2e2e2;
            }

            .reviews_box_text h3{
                text-align: center;
                font-size: 20px;
                color: rgb(119, 119, 119);
                font-weight: 500;
                margin-bottom: 5px;
                color: #fff;
            }

    .accordion_title{
        background: #f5f5f5;
        padding: 15px 15px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 15px;
    }        

    .accordion_content{
        padding: 0 15px;
        font-weight: 300;
    }

    .popup_img{
        width: 25%;
        float: left;
    }

    .popup_form{
        width: 60%;
        float: right;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 300;
        color: #7a7a7a;
        line-height: 1.2em;
    }

    .arcticmodal_container_box{
        min-height: auto !important;
        max-width: 640px;
        min-width: 280px;
    }

    .input_row{
        margin-bottom: 20px;
    }

    .input_row input{
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        border: 1px solid #333;
        width: 235px;
        border-radius: 10px; 
        padding: 0 10px;
    }

    .input_row label{
        display: inline-block;
        line-height: 40px; 
        width: 120px;
        padding-right: 10px;
    }

    .popup_form .btn{
        width: 100%;
        margin-bottom: 20px;
    }

    .popup_form p{
        color: red;
    }

    .popup_form p span{
        font-weight: 300;
        font-size: 14px;
        color: #333;
    }

/*character*/

    .advantages2 table{
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        text-align: center;
        vertical-align: middle; 
        font-weight: 300;
        width: 100%;
    }

    .advantages2 table tr,
    .advantages2 table tr td{
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        text-align: center;
        vertical-align: middle; 
    }

    .advantages2 table tr td{
        padding: 5px; 
    }

    .about_us_info_text{
        font-weight: 300;
    }

    .download_file{
        display: none;
        color: #fff;
        font-size: 20px;
        display: inline-block;
        margin-top: 25px;
    }



/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        padding:30px 0px 30px 0px;
    }

    .footer_container{
        border-top: 1px solid rgb(230, 230, 230);
    }

        .footer_container p{
            margin-bottom: 10px;
        }

        .footer_container a{
            text-decoration: none;
            color: #000;
        }

        .footer_container a:hover{
            text-decoration: underline;
        }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            width: 50px;
            height: 50px;
            position: fixed;
            z-index: 99;
            right: 50px;
            bottom: 100px;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.8;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/